body {
  font-family: 'Roboto';
  letter-spacing: 0.01rem;
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  background-color: #222024;
  padding: 1.5rem;
}

.navbar-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Fleur de Leah";
  text-align: center;
  font-size: 1.5rem;
  color: rgb(190, 175, 163);
}

.navbar-toggler {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  background: none;
  border: none;
  color: rgb(208, 201, 192);
  font-size: 1.1rem;
}

.portfolio {
  margin: 0;
  padding: 0;
}

.nav-item {
  background: none;
  text-align: left;
  width: 100%;
  color: white;
  font-size: 0.85rem;
  cursor: pointer;
}

.nav-link {
  margin: 0.3rem 1rem;
}

.collapsing {
  transition: none;
}

button.navbar-toggler:focus,
button.navbar-toggler:active,
button.nav-link:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

button.nav-link:hover{ 
  color: #c084fc;
  text-decoration: none;
}

a.nav-link:hover{ 
  color: #c084fc;
  text-decoration: none;
}

#aboutme img {
  max-width: fit-content;
}

#aboutMeCard {
  position: relative;
  margin-top: 5rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 0;
  transition: 0;
}

#skills > h2, #experience > h2 {  
  background-color: #bba7db;

  color: #222024;
  font-size: 1.5rem;
  
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  z-index: 2;
}

#carouselindicators, #carouselindicators2 {
  padding-top: 2rem;
}

#skills, #experience {
  background-color: black;
  color: white;

  width: 22rem;
  height: 22rem;
  margin: 2rem auto;
  position: relative;
}

#skills img, #experience img {
  width: 22rem;
  height: 22rem;
  object-fit: cover;
}

h5 {  
  background: rgba(0, 0, 0, 0.6);
  font-size: 1rem;
  color: #bba7db;
  text-align: center;
  position: absolute;
  width: 100%;
  margin: 0;
  bottom: 0;
  padding: 0.5rem;
}


.footer {
  background-color: black;
  border: 0.1rem solid #bba7db;
  margin: 2rem 1rem 1rem 1rem;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.footer p {
  margin: 0;
  text-align: center;
  font-size: 0.9rem;
  color: #d0c9c0;
}

.logo-container {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.footer img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  filter: brightness(0.6);
  cursor: default;
}

/* Responsive */

@media (max-width: 800px) {

  #skills, #experience {
    margin: 2rem auto;
    flex-direction: column;
    align-items: center;
  }

  h3 {
    font-size: 0.9rem;
    padding: 0.4rem;
  }
}
